<!DOCTYPE html>
<html lang="en">

<head>
  <title>BMI 計算機</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" href="assets/BMICLogo.png">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="all.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>  
</head>

<body>
  <div id="app" class="wrapper ">    
    <div class="header" >
      <div class="row no-gutters">
        <div ref="col1" id="col1" class="col-md-4 d-flex justify-content-center align-items-center">
          <img src="assets/BMICLogo.png" width="120" height="120">
        </div>
        <div ref="col2" id="col2" class="col-md-4 d-flex justify-content-center">
          <div class="input">
            <p id="height" class="mb-2">身高 cm</p>
            <input type="text" placeholder="請輸入身高" id="cm" v-model="height" class="outline-none">
            
            <p id="weight" class="mt-3 mb-2">體重 kg</p>
            <input type="text" placeholder="請輸入體重" id="kg" v-model="weight" class="outline-none">
          </div>
        </div>
        <div ref="col3" id="col3" class="col-md-4 d-flex justify-content-center align-items-center ">
          <button v-if="show.btnValue" id="resultBtn" @click="getResults" class="outline-none">看結果</button>
          <div v-else id="changeBtn" >            
            <div id="result" :style="{border: `${border}`}">
              <p id="num" :style="{color: `${textColor}`}" class="fontColor">{{ bmi }}</p>
              <p :style="{color: `${textColor}`}" class="sm-bmi fontColor">BMI</p>
              <a id="clear" :style="{backgroundColor: `${clearBG}`}" href="#" @click.prevent="clearResults"></a>
            </div>
          </div>          
          <p id="state" ref="state" class="ml-2" :style="{color: `${stateColor}`}" v-if="show.stateValue">{{ status }}</p>
        </div>
      </div>
    </div>
    <div class="content font-family-JhengHei">
      <p class="title">BMI 紀錄</p>      
        <div class="table-responsive-sm">
          <table class="table">         
            <thead>
              <tr>
                <th scope="col">狀態</th>
                <th scope="col">BMI</th>
                <th scope="col">體重</th>
                <th scope="col">身高</th>
                <th scope="col">日期</th>
              </tr>
            </thead>  
            <tbody v-for="(data, index) in datas" :style="{borderLeft: `${data.listBorder}`}">
              <tr>                
                <td class="font-weight-bold">{{ data.state }}</td>
                <td>{{ data.bmi }}</td>
                <td>{{ data.weight }} kg</td>
                <td>{{ data.height }} cm</td>      
                <td id="date">{{ data.time }}</td>
                <td class="float-left" id="delete">
                  <button type="button" class="close" aria-label="Close" @click="deleteRecord(index)" style="outline:none">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>          
              </tr>           
            </tbody>
          </table>         
        </div>      
    </div>
    <div class="footer d-flex justify-content-center align-items-center">
      <div class="img"></div>
    </div>
  </div>
</body>
</html>

<script>
  new Vue({
    el: '#app',
    data: {
      datas: [],
      status: null,
      height: null,
      weight: null,
      time: null,
      bmi: null,
      show: {
        btnValue: true,
        stateValue: false
      },      
      border: null,
      textColor: null,
      clearBG: null,
      
      stateColor: null,
      listBorder: null
    },
    mounted() {          
      this.datas = JSON.parse(localStorage.getItem('datas')) || []
    },
    methods: {
      deleteRecord(index) {
        // alert('msg');
        // alert('hi, there!')
        let messageBox = confirm('Are you sure to delete this record?')
        if (messageBox == true) {
          this.datas.splice(index, 1)
          localStorage.setItem('datas', JSON.stringify(this.datas));
        } else {
          return
        }
      },
      getResults() {
        if ((this.height || this.weight) === null) {
          alert('Please enter your height and weight !!');
          return
        }

        let m = this.height / 100

        this.bmi = parseFloat(((this.weight) / (m * m)).toFixed(2))

        if (18.5 > this.bmi) {
          this.status = "體重過輕"
          this.clearBG = '#31BAF9'
          this.stateColor = '#31BAF9'
          this.textColor = '#31BAF9'
          this.border = '6px solid #31BAF9'
          this.listBorder = '7px solid #31BAF9'
        }
        if (24 > this.bmi && this.bmi >= 18.5) {
          this.status = "理想體重"
          this.clearBG = '#86D73E'
          this.stateColor = '#86D73E'
          this.textColor = '#86D73E'
          this.border = '6px solid #86D73E'
          this.listBorder = '7px solid #86D73E'
        }
        if (27 > this.bmi && this.bmi >= 24) {
          this.status = "體重過重"
          this.clearBG = '#FF982D'
          this.stateColor = '#FF982D'
          this.textColor = '#FF982D'
          this.border = '6px solid #FF982D'
          this.listBorder = '7px solid #FF982D'
        }
        if (30 > this.bmi && this.bmi >= 27) {
          this.status = "輕度肥胖"
          this.clearBG = '#FF8C00'
          this.stateColor = '#FF8C00'
          this.textColor = '#FF8C00'
          this.border = '6px solid #FF8C00'
          this.listBorder = '7px solid #FF8C00'
        }
        if (35 > this.bmi && this.bmi >= 30) {
          this.status = "中度肥胖"
          this.clearBG = '#FF6C02'
          this.stateColor = '#FF6C02'
          this.textColor = '#FF6C02'
          this.border = '6px solid #FF6C02'
          this.listBorder = '7px solid #FF6C02'
        }
        if (this.bmi >= 35) {
          this.status = "重度肥胖"
          this.clearBG = '#FF1200'
          this.stateColor = '#FF1200'
          this.textColor = '#FF1200'
          this.border = '6px solid #FF1200'
          this.listBorder = '7px solid #FF1200'
        }

        let date = new Date();
        let recordDate = `${date.getMonth() + 1}-${date.getDate()}-${date.getFullYear()}`;
        let data = {
          state: this.status,
          bmi: this.bmi,
          weight: this.weight,
          height: this.height,
          time: recordDate,        
          listBorder: this.listBorder
        };
        this.datas.push(data);
        localStorage.setItem('datas', JSON.stringify(this.datas));

        this.show.btnValue = false
        this.show.stateValue = true
      },
      clearResults() {
        this.height = ''
        this.weight = ''
        this.bmi = ''
        this.show.stateValue = false
        this.show.btnValue = true
      }
    }
  })
</script>

<script>
  if (navigator.serviceWorker) {
    navigator.serviceWorker
      .register('./sw.js')
      .then(registration => {
        console.log(registration);
      })
      .catch(console.error)
  }
</script>